@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

html{
    margin: auto;
}

body{
    font-weight: 300;
    color: #ffffff;
    background: linear-gradient(68.15deg, #1a1b49 16.62%, #7d8ae6 85.61%);
    font-family: 'Merriweather', serif;
    font-size: 16px;
}